<div id="pergaminhos">					
	<h3>Pergaminhos</h3>
	
	<ul>
		<% for(var i = 0; i < acoes.length; i++) {
			var txt_acao = "";
			switch(parseInt(acoes[i].acao)){
				case 1:
					txt_acao = "aldeão(ões) coletando recursos";
					break;
				case 2:
					txt_acao = "enforcamento(s) programado(s)";
					break;
				case 3:
					txt_acao = "aldeão(ões) em treinamento de história";
					break;
				case 4:
					txt_acao = "aldeão(ões) em treinamento de magia";
					break;
			}

			var date = new Date()
			var segundos_restantes = (acoes[i].acao_termina_em - date.getTime())/1000;
		%>
		<li><%= acoes[i].quantidade %> <%= txt_acao %> - <small>restam <span class="tempo_restante"><%= Math.round(segundos_restantes) %></span> segundos - <a href="/revogar_acao?id_acao=<%= acoes[i]._id %>">revogar ordem</a></small></li>
		<% } %>
		
	</ul>
</div>